<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Bean for question1-Database-->
    <bean id="database" class="demo.springCore.question1.Database">
        <property name="name" value="MySql"></property>
        <property name="port" value="3306"></property>
    </bean>

    <!--Beans for Question3-->
    <bean id="tea" class="demo.springCore.question3.Tea" primary="true" />
    <bean id="expressTea" class="demo.springCore.question3.ExpressTea"/>
    <!--For question7 added scope=prototype-->
    <bean name="teaRestaurant" class="demo.springCore.question3.Restaurant" scope="prototype">
        <property name="hotDrink" ref="tea"/>
    </bean>
    <!--inner bean for express tea-->
    <bean name="expressTeaRestaurant" class="demo.springCore.question3.Restaurant">
        <property name="hotDrink">
            <bean class="demo.springCore.question3.ExpressTea"/>
        </property>
    </bean>

    <!--bean for question5-->
    <bean name="complexBean" class="demo.springCore.question5.Complex">
        <property name="list">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>Surbhi</value>
                <value>Sakshi</value>
                <value>Yukti</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="1" value="Surbhi"/>
                <entry key="2" value="Shivangi"/>
                <entry key="3" value="Rishabh"/>
            </map>
        </property>
    </bean>

    <!--bean for question6-->
    <bean name="restaurantAutowireByName" class="demo.springCore.question3.Restaurant" autowire="byName">
    </bean>
    <bean name="hotDrink" class="demo.springCore.question3.Tea"/>
    <bean name="restaurantAutowireByType" class="demo.springCore.question3.Restaurant" autowire="byType"/>
    <bean name="restaurantAutowireByConstructor" class="demo.springCore.question3.Restaurant" autowire="constructor"/>

    <!--bean for Question9-->
    <bean name="restaurant1" class="demo.springCore.question8Andquestion9.Restaurant"/>
    <context:annotation-config></context:annotation-config>

    <!--For question10-->
    <context:component-scan base-package="demo.springCore.question10"/>
</beans>