<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--Beans for Question 2-->
    <bean class="demo.listeners.SpringEventsListener"/>
    <bean class="demo.listeners.SpringMultiEventListener"/>
    <context:annotation-config/>


    <!--Bean for Question3-->
    <bean id="database" class="demo.Database">
        <property name="port" value="3306"/>
        <property name="name" value="mySql"/>
    </bean>
    <bean class="demo.listeners.DatabaseConnectListener"/>

    <!--Settings for Question4onwards-->
    <aop:aspectj-autoproxy/>

    <!--Question4-->
    <bean class="demo.GreeterService" name="service"/>
    <!--Question4 and 10-->
    <bean class="demo.aspect.LoggingAspect"/>

    <!--Question10-->
    <bean class="demo.IoExceptionThrowers"/>
</beans>