<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <script
            src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Ajax for question10-->
    <script type="text/javascript">
        $(function () {
            $("#wait").hide();
            $("#registrationForm").submit(
                function (event) {
                    event.preventDefault();
                    var register=$.post({
                        url:"/employee/registrationFormAjax",
                        data:$("#registrationForm").serialize(),
                        beforeSend: function() { $('#wait').modal('show')},
                        complete: function() { $('#wait').modal('hide'); }
                    });
                    register.done(function (data) {
                        if(data)
                        {
                            $('#status').html("Registered "+data)
                        }

                    });
                    register.fail(function (jqXHR,textStatus) {
                        console.log("Error in registration"+jqXHR+textStatus)
                    });

                });
        })



    </script>
</head>
<body>
<form method="post" th:object="${employee}" id="registrationForm">
    <label for="firstName">FirstName</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <label for="lastName">LastName</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <input type="submit" value="Register">
</form>
<!-- Modal -->
<div id="wait"class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            </div>
            <div class="modal-body">
                <img src="/images/loading.gif"/>
            </div>
        </div>
    </div>
</div>
<p id="status"></p>

</body>
</html>